
body {
    font-family: "Goudy Bookletter 1911", sans-serif;
      font-size: 15px;
      
      height: 950px;
      padding: 5%;
      width: 100%;
  }
    .header, .about {
    background: rgb(114, 182, 214);
    height: 100px;
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    display: block;
    display: flex;
    }
    
    .card{
      /* background-color: rgba(219, 102, 240, 0.719);  */
      height: 65%;
      font-weight: 300;
      display: flex;
      
    } 
      
      #hot:hover, #cold:hover, #snow:hover, #rainy:hover{
        background-color: bisque;
      }
         #hot, #cold, #rainy, #snow{
          width: calc(23.5%);
          height: 50px;
          padding: 15px;
          border: 50px;
          margin: 10px;
          border-radius: 25px;
          font-weight: 900;
         
        }
       p{
        font-family: 'Courier New', Courier, monospace;
        font-style: normal;
        font-size: larger;
      } 
    #stocksBtns{
      
      margin: 10px;
    } 
   